$button-height: 60px;

.base-button {
  background-color: $primary-color;
  width: 100%;
  max-width: $base-button__max-width;
  height: $button-height;
  border-radius: 1px;
  text-align: center;
  font-size: 18px;
  color: $primary-text-color--is-bg-dark;

  a {
    display: inline-block;
    width: 100%;
    line-height: $button-height;
    font-size: 18px;
    color: $primary-text-color--is-bg-dark;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $layout-breakpoint--is-small-up) {
  .base-button {
    width: 100%;
    max-width: 100%;
    font-size: 24px;
    text-align: center;

    a {
      font-size: 24px;
    }
  }
}
